<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
</head>
<body>
    <h1>Lista de Personas</h1>
    <ul>
        {% for persona in personas %}
            <li>{{ persona[0] }} {{ persona[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
